
#header { background: darkgreen; height: auto; }

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: white;
}
#branding img.doge { height: 75px; }

#footer { text-align: center; }
#footer img { height: 200px; }
